[user]
        name = Lars Brinkhoff
        email = lars@nocrew.org
[alias]
	st = status -s
	ff = merge --ff-only
	amend = commit --amend -C HEAD
[credential]
        helper = cache --timeout=100000
[push]
	default = simple
