[user]
        name = Lars Brinkhoff
        email = lars@nocrew.org
[alias]
	amend = commit --amend -C HEAD
	sdiff = diff --staged -M
	changes = log -M --stat --reverse master..
[credential]
        helper = cache --timeout=100000
[push]
	default = simple
